.wishlistWrapper{
    width: 100%;
    .titleConatiner{
        display: grid;
        justify-content: center;
        margin: 0.5rem 0;
        .image{
            display: grid;
            justify-content: center;
        }
        .title{
            font-size: 3.5rem;
            font-family: fantasy;
            font-weight: 300;
        }
    }
    .tableContainer{
        padding: 0 5rem;
    }
    .wishlistColums{
        padding: 4rem 1rem 1rem;
    display: grid;
    grid-template-columns: 40% 15% 15%;
    .wishlistprods{
        display: grid;
        
    }
    }
    .wishlistprods{
        max-height: calc(100vh - 25rem);
        overflow: auto;
        padding-right: 1rem;
    }
}