.cartItem{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    .cartImage{
        .image{
            border: 1px solid #dbdbdb;
            padding: 1px;
            margin-top: 1rem;
        }    
    }
    .cartDescription{
        padding: 1rem 0 0;
        .price{
            color: #707070;
            font-size: 0.8rem;
            padding: 0.5rem 0 0;
        }
    }
    .totalPrice{
        display: grid;
        justify-content: flex-start;
        align-items: center;
    }
}

.shiInfoWrapper{
    padding: 1rem;
    .inputField{
        background-color: #ffff;
        margin: 1rem 0 0;
        width: 80%;
    }
    .shipBtn{
        margin: 1rem 0;
        transition: 5s all;
    }
}