.products-details{
    margin-top: 5rem;
    .products{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
        padding: 1rem;display: grid;
        grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
        padding: 0rem 3rem 1rem;
        .product-card{
            background: white;
            padding: 0rem;
            width: 15rem;
            margin: 0 1rem 1rem;
            border: 0.5px solid #00801c26;
            cursor: pointer;
            &:hover{
                box-shadow: 5px 5px 5px 5px #888888 !important;
            }
            .wishlist-Icon{
                display: grid;
                justify-content: flex-end;
                margin: 0.5rem 1rem ;
                cursor: pointer;
            }
            .product-imgContainer{
                display: grid;
                justify-content: center;
                padding: 0.5rem;
                // background: #cccccc4d;
            }
            .product-footer{
                display: flex;
                justify-content: space-between;
                padding: 0 0.5rem;
                .product-title{
                    display: grid;
                    justify-content: center;
                    font-weight: 300;
                    text-transform:capitalize; 
                    color: #0000008c;
                }
                .product-subTitle{
                    display: grid;
                    justify-content: center;
                    font-weight: 300;
                    color: #888888;
                    margin: 0 0.2rem;
                }
                .product-price{
                    display: grid;
                    justify-content: center;
                    font-weight: 300;
                    text-transform: uppercase; 
                    color: #11cd6b;
                }
            }
            
        }
        .product-Actions{
            .add-Delete{
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 1rem;
                padding: 1rem;
            }
        }
        }
        .pagination{
            display: grid;
            justify-content: flex-end;
            padding: 1rem;
        }
    }

    .product-step{
        margin-top: 1rem;
    }

.emptyicon{
    display: grid;
    justify-content: center;
    padding: 2rem 0;
    .info{
        padding: 1rem 0;
        text-align: center;
        color: #918080;
        text-transform: capitalize;
        font-size: 1.2rem;
        font-family: fantasy;
    }
    .actionBtn{
        padding: 1rem 0;
    }
}