.cart-details{
    .cart-Items{
        max-height: calc(100vh - 21rem);
        overflow: auto;
        padding: 3rem 5rem 0;
        .cart-Item{
            display: grid;
            grid-template-columns: 50% 25% 25%;
            background: white;
            padding: 0.3rem 1rem;
            border-bottom: 1px solid #888888;
            cursor: pointer;
            &:hover{
                input{
                    background: #d9f5de;
                }
                background: #d9f5de;
            }
            &:first-child{
                border-top: 1px solid #888888;
            }
            .productInfo{
                display:grid;
                grid-template-columns: 10rem 1fr;
            }
            .errorIcon{
                &:hover{
                    font-size: 3rem;
                    box-shadow: 1px #888888;
                }
            }
                .cart-description{
                    margin: 0 0.5rem;
                    width: 20rem;
                    display: grid;
                    align-items: center;
                    justify-content: flex-start;
                    .product-title{
                        display: grid;
                        justify-content: flex-start;
                        font-weight: 600;
                        text-transform: uppercase; 
                    }
                    .product-subTitle{
                        display: grid;
                        justify-content: flex-start;
                        font-weight: 300;
                        color: #888888;
                        margin: 0 0.2rem;
                    }
                    .cart-price{
                        display: grid;
                        justify-content: flex-start;
                    }
                }
                .cart-quantity{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    grid-gap: 0.5rem;
                    margin: 0 0.5rem 0 2rem;
                    input{
                        width: 3rem;
                        border: none;
                    }
                }
               
            }
            
            .cart-Actions{
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 1rem;
                justify-content: center;
                align-items: center;
            }
        }
        .buynowItem{
            cursor: pointer;
            margin: 1rem;
            display: grid;
            justify-content: flex-end;
            padding: 1rem;
        }
        .cartIcon{
            display: grid;
            justify-content: center;
            align-items: center;
            padding: 2rem 1rem 0;
            .iconCart{
                margin-left: 2rem;
            }
        }
        .title{
            font-size: 3.5rem;
            font-family: fantasy;
            font-weight: 300;
        }
}