.orders{
    height: 35rem;
    overflow: auto;
    .order-Item{
        padding: 1rem;
        display: grid;
        grid-template-columns: auto auto auto;
        box-shadow: 5px 5px 5px 5px #e1dcdc !important;
        background: white;
        width: 70%;
        margin: 1rem;
        justify-content: center;
        div{
            //display: grid;
            justify-content: center;
            align-items: center; 
            margin-right: 1rem;  
        }
        .ordered-products{
            .cart-Item{
                display: grid;
                justify-content: center;
                // &:hover{
                //     box-shadow: 5px 5px 5px 5px #888888 !important;
                // }
                .product-details{
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    .cart-Image{
                        display: grid;
                        justify-content: center;
                    }
                    .cart-description{
                        margin: 0 0.5rem;
                        width: 20rem;
                        .product-title{
                            display: grid;
                            justify-content: center;
                            font-weight: 600;
                            text-transform: uppercase; 
                        }
                        .product-subTitle{
                            display: grid;
                            justify-content: center;
                            font-weight: 300;
                            color: #888888;
                            margin: 0 0.2rem;
                        }
                    }
                   
                }
            }
        }
    }
    
}