.orders{
    max-height: calc(100vh - 6rem);
    min-height: calc(100vh - 6rem);
    overflow: auto;
    justify-content: center;
    background-color: #e7e7e7;
    margin-top: 3rem;
    
    .order-Item{
        padding: 1rem;
        div{
            //display: grid;
            justify-content: center;
            align-items: center; 
        }
        .ordered-products{
            .cart-Item{
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: 9rem 7rem 8rem 1fr;
                border: 1px solid #dbdbdb;
                margin: 1rem 0 0;
                background: #fff;
                cursor: pointer;
                .cart-Image{
                    display: grid;
                    justify-content: center;
                    padding: 0.5rem;
                }
                .cart-description{    
                    .product-title{
                        // display: grid;
                        // justify-content: center;
                        font-weight: 600;
                        text-transform: uppercase; 
                    }
                    .product-subTitle{
                        // display: grid;
                        // justify-content: center;
                        font-weight: 300;
                        color: #888888;
                        word-break: break-word;
                        margin: 0 0.2rem;
                    }
                }
                &:hover{
                    // background-color: #d9f5de;
                    box-shadow: 0 1px 12px 2px #dbdbdb;
                }
            }
        }
    }
    
}

.image-overlay{
    display: grid;
    justify-content:center ;
}
.title{
    display: grid;
    margin: 1rem 0;
    justify-content: center;
    grid-gap: 0.3rem;
    .title-overlay{
        display: grid;
        font-weight: 600;
        text-transform: uppercase; 
    }
    .product-subTitle{
        // display: grid;
        // justify-content: center;
        font-weight: 300;
        color: #888888;
        margin: 0 0.2rem;
    }
}



.description-overlay{
    display: grid;
    justify-content: center;
    margin-bottom: 0.5rem;
   
    .product-subTitle{
        // display: grid;
        // justify-content: center;
        font-weight: 300;
        color: #888888;
        margin: 0 0.2rem;
    }
}
.overlay-btns{
    display: flex;
    justify-content: flex-end;
    grid-gap: 1rem;
    margin-top: 1rem;
}

.address{
    background: bisque;
    padding: 1rem;
    box-shadow: 1px 1px #8c8a8a;
    border: 1px solid #dbdb;
}
@media screen and (min-width:850px) {
    
    .cart-Items{
        padding: 3rem 1rem 0 !important;
    }
    .ordered-products{
    .cart-Item{
        grid-template-columns: 40% 20% 35% !important;
    }}
    .width-popup{
        width: 40% !important;
    }
}

@media screen and (max-width:850px) {
    .cart-Items{
        padding: 3rem 1rem 0 !important;
    }
    .ordered-products{
    .cart-Item{
        grid-template-columns: 40% 20% 35% !important;
    }}
    .width-popup{
        width: 75% !important;
    }
}

@media screen and (max-width:550px) {
    .ordered-products{
    .cart-Item{
        grid-template-columns: 45% 45% !important;
    }}
    .width-popup{
        width: 90% !important;
    }
}
@media screen and (max-width:450px) {
    .ordered-products{
    .cart-Item{
        grid-template-columns: none !important;
        grid-gap: 0.5rem !important;
        width: 15rem !important;
        padding: 0.5rem;
    }}

    .ordered-products{
        display: flex;
        flex-wrap: wrap;
    }
    .width-popup{
        width: 95% !important;
    }
}